@import '../../styles/config.sass'

.add-article

.add-btn
  background-color: $active-btn-color

.allInputs
  display: flex
  flex-direction: column

.input-div input
  margin-bottom: 10px
  padding: 10px 10px

.add-input
  cursor: pointer
  border: 1px solid #eef2f6

.input-div textarea
  width: 180px
  margin-bottom: 10px

