@import '../../styles/colors.sass'
@import '../../styles/config.sass'

.map
  margin: 0 $small-margin
  max-width: 360px

.main-left-box
  display: flex
  flex-direction: column
  align-items: center
  padding: $default-padding
  margin-bottom: $large-margin

.aside-title
  font-size: $large-font-size
  font-family: $primary-font-family
  font-weight: bold
  margin: $large-margin 0
  text-align: center

.aside__social-btn
  font-size: $large-font-size
  padding: $extra-large-btn-padding

.about-text
  line-height: 30px
  margin-bottom: $extra-large-margin
  font-family: $info-font-family

.categories
  width: 100%
  display: flex
  flex-direction: column
  .categories-input
      display: none
      &:checked ~ .category-btn
          background-color: $pagination-nav-btn-background-color-on-hover
.tags-container
  width: 100%
  display: flex
  flex-wrap: wrap
  justify-content: space-around
  .tag-input
      display: none
      &:checked ~ .tag-btn
          background-color: $pagination-nav-btn-background-color-on-hover

// ---------------------Form-------------------------

.form-register-letter
  width: 100%
  
.input-div
  margin-bottom: $default-margin
  textarea
    resize: none
    width: 100%
  input
    padding: $extra-small-padding
    width: 100%

.add-article
  form
    width: 100%

.add-input
  cursor: pointer
  border: 1px solid $bgc-light