ul
    list-style: none
    margin: 0
    padding: 0
    li
        display: inline-block
  
img
  max-width: 100%

.btn
  padding: 10px 15px
  text-decoration: none
  border: none
  cursor: pointer
  font-family: Raleway
  font-size: 29px
  font-weight: 700
  line-height: 52.97px
  text-transform: uppercase
.btn_readmore-btn
  background-color: $active-btn-color
.btn_share-btn
  padding: 10px 30px
  color: $share-btn-color
  background-color: $share-btn-background-color

.card
  padding: 40px 30px
  margin: 40px 0 100px
  box-shadow: 0 24px 26px 3px rgba(0, 0, 0, 0.24)
  background-color: #ffffff
  position: relative

.btn:hover
  background-color: #be9106


.left-div_shadow
  box-shadow: 4px 8px 13px #d0d0d0

.bottom_shadow
  box-shadow: 0px 8px 10px #d0d0d0

.card_horizontal
  display: flex
  justify-content: space-between
.card__line
  height: 3px
  opacity: .4
  background-color: $card-line-color
  margin: 15px 0
