*
  box-sizing: border-box

img
  display: block
  max-width: 100%

input
  border: none

i
  transition: .6s

// ----------btns styles----------------------

.btn
  display: block
  padding: $small-btn-padding $default-btn-padding
  font-family: $primary-font-family
  font-size: $default-font-size
  background-color: inherit
  text-transform: uppercase
  text-decoration: none
  border: none
  cursor: pointer
  letter-spacing: 1.6px
  transition: .6s

.social-btn
  font-size: $large-font-size
  padding: $small-btn-padding $default-btn-padding
  &:hover
      color: $color-attention-primary

.nav-btn
    padding: $small-btn-padding $default-btn-padding
    &:hover
        color: $color-attention-primary

.searchbar-btn
    &:hover
        color: $color-attention-primary

.subscribe-btn
    border-radius: 2px
    border: 1px solid $color-attention-secondary
    letter-spacing: 2px
    font-family: $accent-font-family
    font-size: $medium-font-size
    padding: $default-btn-padding $large-btn-padding
    &:hover
        background-color: $color-attention-secondary

.readmore-btn
    font-family: $info-font-family
    padding: $small-btn-padding $large-btn-padding
    // background-color: $color-attention-secondary
    &:hover
        background-color: $color-attention-primary

.share-btn
    font-family: $info-font-family
    color: $color-content-primary
    &:hover
        background-color: $color-content-secondary
        color: $color-basic-secondary

.nav-arrow-btn
    font-family: $info-font-family
    &:hover
        background-color: $color-attention-primary

.pagination-nav-btn
    font-family: $info-font-family
    padding: $extra-large-btn-padding
    border-radius: 50%
    &:hover
        color: $color-attention-primary

.category-btn
    padding: $extra-large-btn-padding
    width: 100%
    text-align: center
    border-bottom: 1px solid $color-attention-secondary
    &:hover
        background-color: $color-attention-primary

#last-label
    background-color: $color-clear-secondary
    &:hover
        background-color: $color-clear-primary

a 
    text-decoration: none
    color: $color-content-primary

a:hover
    color: $color-attention-primary

.category-btn
    color: $color-content-primary

.tag-btn
    padding: $extra-large-btn-padding
    border: 2px solid $color-attention-primary
    width: 100%
    margin-bottom: $large-margin
    &:hover
        background-color: $color-attention-primary

.searchbar-btn
    display: inline-block

.add-btn
    width: 100%
    &:hover
        background-color: $color-attention-primary

.follow-me-btn
    width: 100%
    &:hover
        background-color: $color-attention-primary

.btn-register
    width: 100%
    &:hover
        background-color: $color-attention-primary
        
.btn-activePage
    color: $color-attention-primary

.delete-article-btn
    position: absolute
    top: $small-margin
    right: $small-margin
    color: $color-clear-primary
    &:hover
        color: $color-attention-primary

// ------------------------------------------------------------------

.list
    list-style: none
    margin: 0
    padding: 0
    li
        display: inline-block

.socials-list
  display: flex
  justify-content: center
  flex-wrap: wrap

.left-div_shadow
  box-shadow: 4px 8px 13px #d0d0d0

.bottom_shadow
  box-shadow: 0px 8px 10px #d0d0d0
  
.left-div_shadow
  box-shadow: 4px 8px 13px #d0d0d0

.bottom_shadow
  box-shadow: 0px 8px 10px #d0d0d0
