*
  box-sizing: border-box
  
ul
    list-style: none
    margin: 0
    padding: 0
    li
        display: inline-block

img
  display: block
  max-width: 100%

.btn
  background-color: $default-btn-background-color
  padding: 7px 12px
  text-decoration: none
  border: none
  cursor: pointer
  font-family: Raleway
  font-size: 25px
  text-transform: uppercase
  font-weight: 700
  transition: .7s
  &:hover
    background-color: $default-btn-background-color-on-hover
.btn_readmore-btn
  background-color: $readmore-btn-background-color
.btn_share-btn
  height: 100%
  color: $share-btn-color
  background-color: $share-btn-background-color
  &:hover
    background-color: $share-btn-background-color-on-hover
    color: $share-btn-color-on-hover
.btn_sm
  padding: 7px 10px
  font-size: 15px

.card
  margin-bottom: 60px
  box-shadow: 0 24px 26px 3px rgba(0, 0, 0, 0.24)
  background-color: $card-background-color
  position: relative

.left-div_shadow
  box-shadow: 4px 8px 13px #d0d0d0

.bottom_shadow
  box-shadow: 0px 8px 10px #d0d0d0

.card_horizontal
  display: flex
  justify-content: space-between

.card__line
  height: 3px
  opacity: .4
  background-color: $card-line-color
  margin: 15px 0

  
.left-div_shadow
  box-shadow: 4px 8px 13px #d0d0d0

.bottom_shadow
  box-shadow: 0px 8px 10px #d0d0d0
