
// ----------fonts-settings------------

$large-font-size: 25px
$default-font-size: 20px
$small-font-size: 15px
$extra-small-font-size: 12px

$primary-font-family: Monserrat
$secondary-font-family: Monserrat
$accent-font-family: Dosis
$info-font-family: Raleway

// ----------buttons-settings------------

$large-btn-paddings-x: 17px
$large-btn-paddings-y: 12px

$default-btn-paddings-x: 15px
$default-btn-paddings-y: 10px

$small-btn-paddings-x: 12px
$small-btn-paddings-y: 7px

// ----------others------------

$large-padding: 40px
$default-padding: 20px
$small-padding: 20px