$backColor: snow
$header-content-width: 1170px
$main-left-div-height: 5em
$main-right-div-height: 10em
$gallery-div-height: 10em
$header-top-height: 250px
$header-nav-height: 60px
$header-background-color: snow
$subscribe-btn-color: snow
$subscribe-btn-color-on-hover: snow
$subscribe-btn-border-color: rgba(36, 41, 41, .1)
$subscribe-btn-background-color: snow
$subscribe-btn-background-color-on-hover: rgba(36, 41, 41, .1)
$navigation-background-color: snow
$active-btn-color: #ffc908
$default-btn-color: #242929
$default-btn-color-on-hover: #242929
$default-btn-background-color: snow
$default-btn-background-color-on-hover: snow
$share-btn-color: #a8aeae
$share-btn-background-color: white
$share-btn-background-color-on-hover: #a8aeae
$share-btn-color-on-hover: white
$readmore-btn-color: #242929
$readmore-btn-background-color: #ffc908
$readmore-btn-background-color-on-hover: #be9106
$pagination-btn-color: black
$pagination-btn-color-on-hover: black
$pagination-btn-background-color: white
$pagination-btn-background-color-on-hover: #ffc908
$pagination-btn-color-on-hover: black
$pagination-nav-btn-color: black
$pagination-nav-btn-color-on-hover: black
$pagination-nav-btn-background-color: white
$pagination-nav-btn-background-color-on-hover: #ffc908
$card-background-color: white
$card-category-text-color: #ffc908
$card-header-text-color: #282d2d
$card-line-color: #a9b3e3
$out-of-border-image-max-height: 500px
$color-blue: #5671f1