body
    background: $backColor
.main
    display: grid
    grid-template-columns: 220px 1fr
    grid-gap: 35px
    border: 1px solid #000

.main-left
    // display: flex
    // justify-content: center
    // flex-wrap: wrap
    
.main-right
    // display: flex
    // justify-content: center
    // flex-wrap: wrap
.main-left
    .main-left-box
        // width: 220px
        text-align: center
        height: $main-left-div-height
.main-right
    .main-right-box
        // width: 30em
        text-align: center
        height: $main-right-div-height
.gallery
    display: flex
    justify-content: center
    flex-wrap: wrap
.gallery
    div
        width: 23em
        height: $gallery-div-height
        text-align: center
.bottom
    height: 10em
    text-align: center






