body
    background: $backColor
.main
    display: grid
    grid-template-columns: 500px 1fr
    grid-template-areas: 'aside articles'
    grid-gap: 20px
    .aside
        grid-area: aside
    .articles
        grid-area: articles

.gallery
    display: flex
    flex-wrap: wrap