@import '../../styles/colors.sass'
    
.main
    padding: 40px 20px 20px
.pagination
    width: 100%
    display: flex
    justify-content: space-between
    margin-bottom: 30px
    .nav-arrow-btn
        font-family: Raleway
        color: $pagination-btn-color
        background-color: $pagination-btn-background-color
        &:hover
            background-color: $pagination-btn-background-color-on-hover
            color: $pagination-btn-color-on-hover
    .pagination-nav-btn
        font-family: Raleway
        padding: 15px 20px
        border-radius: 50%
        color: $pagination-nav-btn-color
        background-color: $pagination-nav-btn-background-color
        &:hover
            color: $pagination-nav-btn-color-on-hover 
            background-color: $pagination-nav-btn-background-color-on-hover

@import './media.sass'