@import '../../styles/config.sass'
    
.main
    padding: 5px


.card_left-image
    justify-content: end

.card_right-image
    justify-content: start

.card__text-content_limited
    max-width: 600px

.card__category
    display: inline-block
    margin-bottom: 30px
    color: $card-category-text-color
    font-family: Montserrat
    font-size: 24px
    font-weight: 700
    letter-spacing: 4px
    text-transform: uppercase

.card__header
    color: $card-header-text-color
    font-family: Poppins, 'Open Sans'
    font-size: 36px
    font-weight: 400
    line-height: 60px

.card__actions-block
    display: flex
    justify-content: space-between

.card__share-block
    display: flex
    align-items: center

.card__socials-list
    li
        padding: 10px
        font-size: 30px
        color: $active-btn-color

.card__short-description
    color: #6c7374
    font-family: Raleway
    font-size: 24px
    font-weight: 400
    line-height: 36px
    margin-bottom: 70px

.card__image-block
    img
        box-shadow: 0 24px 26px 3px rgba(0, 0, 0, 0.24)

.card__image-block_out-of-border
    position: absolute
    top: -10%
    height: 120%

.card__image-block_right
    right: 30px

.card__image-block_left
    left: 30px