@import '../../styles/colors.sass'
@import '../../styles/config.sass'

.header-container
    max-width: 1170px
    margin: 0 auto
    padding: $large-padding 0
    background-color: $color-basic-primary
    .header-top
        display: flex
        align-items: center
        justify-content: space-between
        padding: 0 $small-padding
        margin-bottom: $large-margin
        .searchbar-label
            border-radius: 5px
            .searchbar-input
                padding: $extra-small-padding
                border-top-left-radius: 5px
                border-bottom-left-radius: 5px
    .header-nav
        display: flex
        align-items: center
        justify-content: space-between
        position: relative
        padding: 0 $small-padding
        
        .toggle-main-menu-label, .toggle-socials-links-label
            display: none
            padding: $extra-small-padding
            border-radius: 50%
            i
                color: $color-content-secondary
                font-size: $extra-large-font-size
        .toggle-main-menu-input
            display: none
            &:checked ~ .toggle-main-menu-label
                i
                    color: $color-attention-primary
                    transform: rotate(90deg)
            &:checked ~ .nav-list
                display: block
        .toggle-socials-links-input
            display: none
            &:checked ~ .toggle-socials-links-label
                i
                    color: $color-attention-primary
                    transform: rotate(90deg)
            &:checked ~ .nav-socials-links-list
                display: block

@import './media.sass' 