@import '../../styles/config.sass'

.connected
    display: flex
    justify-content: center
    flex-wrap: wrap
    .connected__list
        display: flex
        flex-wrap: wrap
        justify-content: center
        padding: 40px 0
        button
            padding: 30px

.back-to-top
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    position: relative
    padding: 50px 0
    background-color: $back-to-top-section-background-color
    .footer-nav
        position: relative
        // padding: 0 20px
        ul
            &:first-child
            // button
                padding-left: 0
            // &:last-child
            //     button
            //         padding-right: 0
        

.designed-by
    padding: 50px 30px
    p
        text-align: right
        font-size: 30px
        font-family: Montserrat