@import '../../styles/colors.sass'
@import '../../styles/config.sass'

.footer
    .connected
        display: flex
        justify-content: center
        flex-wrap: wrap
        .list
            display: flex
            flex-wrap: wrap
            justify-content: center
            padding: $extra-large-margin 0 (2 * $extra-large-margin)

    .back-to-top
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        position: relative
        padding: $extra-large-margin 0
        background-color: $bgc-secondary
        .toggle-nav-list-label
            display: none
            padding: $small-margin
            i
                color: $text-color-default
                font-size: $extra-large-font-size
                transition: .7s
                
        .toggle-nav-list-input
            display: none
            &:checked ~ .toggle-nav-list-label
                i
                    color: $text-color-default-active
                    transform: rotate(90deg)
            &:checked ~ .nav-list
                display: block

        .back-to-top-btn
            position: absolute
            bottom: -($extra-large-margin)
            background-color: $bgc-extra-light
            padding: $small-padding $large-padding
            color: $text-color-default
            &::after
                position: absolute
                bottom: 0
                right: 0
                width: 0
                height: 0
                border-style: solid
                border-color: transparent transparent red transparent
                border-width: 0 0 $small-margin $small-margin
                content: ''
            &::before
                position: absolute
                bottom: 0
                left: 0
                width: 0
                height: 0
                border-style: solid
                border-color: transparent transparent transparent red
                border-width: $small-margin 0 0 $small-margin
                content: ''
            &:hover
                background-color: $bgc-dark
                color: $text-color-default-active
                &::after
                    border-color: transparent transparent $text-color-default-active transparent
                &::before
                    border-color: transparent transparent transparent $text-color-default-active

        .footer-nav-btn
            padding: $large-padding $small-padding
                
    .designed-by
        padding: $large-padding $default-padding
        p
            text-align: right
            font-size: $large-font-size
            font-family: $secondary-font-family

@import './media.sass'