@media all and ( max-width: 1100px )
    .nav-list
        display: none
        box-shadow: 0 24px 26px 3px $subscribe-btn-background-color-on-hover
        position: absolute
        width: 100%
        top: 100%
        left: 0
        z-index: 9999
        li
            display: block
            background-color: $header-background-color
            &:hover
                background-color: $default-btn-color-on-hover
            button
                width: 100%
                padding: 40px
    .footer-nav
        padding: 40px 0
    .toggle-nav-list-label
        display: block !important